.SideLayer {
    position: absolute; 
    width: 25%;
    left: 0;
    top: 0;
    height: 100%;
    background-color: #e8411d;
    padding: 75px 0px 32px 16px;
    box-sizing: border-box;
}



@media(max-width: 499px) {
    
    .SideLayer {
        display: none;
    }
}