
.Toolbar {
    height: 56px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(90deg, #e8411d 35%, #f07d0d);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-sizing: border-box;
    z-index: 200;
}

.Toolbar nav {
    height: 100%;
}

.Logo {
    height: 80%;
}

.Headline {
    font-size: 1rem;
    color: white;
}

@media (min-width: 500px) {
    .ToolBar {
        z-index: 90;
    }
}