
.Content {
    margin-top: 56px;
    height: 80%;
}

.Footer {
    width: 100%;
    background-image: linear-gradient(90deg, #e8411d 35%, #f07d0d);
}

@media (min-width: 500px) {

    .Content {
        position: relative;
        display: flex;
        height: 80vH;
        align-items: center;
    }
}
